@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style: none;
  font-family: 'Inter', sans-serif;
}

body {
  overflow-x: hidden;
}



.animation_container {
  width: 100vw;
  height: 300vw;
}

.headlineTld {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headlineTldText {
  font-size: 300px;

}

.card_wrapper {
  background-color: rgb(255, 255, 255);
  width: 100vw;
  height: 100vh;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.card_one {
  flex: none;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  position: absolute;
  left: 100%;
}

.card_two {
  flex: none;
  justify-content: center;
  align-items: flex-start;
  width: 100vw;
  height: 100vh;
  display: flex;
  position: absolute;
  right: 100%;

}

.Container1VideoDiv1 {
  position: absolute;
  top: 4%;
  bottom: auto;
  left: 4%;
  right: auto;

}

.Container1VideoDiv2 {
  position: absolute;
  top: 20%;
  bottom: auto;
  left: 23%;
  right: auto;
}

.Container1VideoDiv3 {
  position: absolute;
  top: 4%;
  bottom: auto;
  left: 52%;
  right: auto;
}

.Container1VideoDiv4 {
  position: absolute;
  top: 4%;
  bottom: auto;
  left: 66%;
  right: auto;
}

.Container1VideoDiv5 {
  position: absolute;
  top: auto;
  bottom: 25%;
  left: auto;
  right: 4%;
}

.Container1VideoDiv6 {
  position: absolute;
  top: auto;
  bottom: 2%;
  left: auto;
  right: 17%;
}

.Container1VideoDiv7 {
  position: absolute;
  top: auto;
  bottom: 2%;
  left: 4%;
  right: auto;
}


.next-section {
  height: 100vh;
}

.bottom-section {
  z-index: 10;
  background-color: #000000;
  width: 100%;
  min-height: 100%;
  position: absolute;
  top: 100%;
}


/* -----------------All the My CSS ----------------------- */


:root {
  --textColorHome: #000000;
  --textColorWhite: #fff;
  --bgColor: #000;
  --headerHeight: 130px;
  --arial: PP Neue Montreal;
  --bold: Manuka-Bold;
}

@font-face {
  font-family: 'Manuka-Bold';
  src: url('https://static1.squarespace.com/static/6321ff58de24306f4c2df3fd/t/646f5796c2535f3a90f3785d/1685018519010/Manuka-Bold.otf.element');
}

@font-face {
  font-family: 'PP Neue Montreal';
  src: url('https://static1.squarespace.com/static/6321ff58de24306f4c2df3fd/t/6596544ee0de7819e8ee228f/1704350799448/PPNeueMontreal-Book.otf');
}

h1 {
  font-family: 'Manuka-Bold';
}

.addFontSpacing {
  line-height: 1.3;
}

@media(max-width: 600px) {
  .addFontSpacing {
    line-height: 1.3;
  }
}



/* -------------------------- Section 2 end -------------------------- */
.videoUnderText {
  font-family: var(--arial);
  padding-top: clamp(0.625rem, 0.3375rem + 1.4375vw, 2.0625rem);
  font-size: clamp(0.375rem, 0.0341rem + 0.9091vw, 1.125rem);
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.videoAfterText {
  font-family: var(--arial);
  padding-bottom: clamp(0.625rem, 0.3375rem + 1.4375vw, 2.0625rem);
  font-size: clamp(0.375rem, 0.0341rem + 0.9091vw, 1.125rem);
  letter-spacing: 0.54px;
  text-transform: uppercase;
  white-space: nowrap !important;
}

/* 1 video Container 1 -------------------------------1---------------------- */

.Container1VideoDiv1 {
  transition: all 2s ease;
}

.Container1InnerVideoDiv1 {
  width: 23.95vw;
  height: 23.95vw;
  overflow: hidden;
  border-radius: 1vw;
}

@media(max-width: 600px) {
  .Container1InnerVideoDiv1 {
    width: 35vw;
    height: 35vw;
    overflow: hidden;
  }
}

.Container1VideoDiv1Video1 {
  width: 100%;
}

/* 2 video Container 1 -------------------------------2-------------------------- */
.Container1VideoDiv2 {
  max-width: 35.26vw;
  width: 100%;
  height: 23.3vw;
  border-radius: 1vw;
  transition: all 2s ease;
}

.Container1VideoDiv1Video2 {
  width: 100%;
  border-radius: 1vw;
}


/* 3 image Container 1 ----------------------------------3---------------------- */
.Container1VideoDiv3 {
  width: 11.30vw;
  height: 11.30vw;
  border-radius: 1vw;
  transition: all 2s ease;
}

.Container1VideoDiv1Video3 {
  width: 11.30vw;
  height: 11.30vw;
  border-radius: 1vw;
}

@media(max-width: 600px) {
  .Container1VideoDiv1Video3 {
    width: 22vw;
    height: 22vw;
  }
}

/* 4 image Container 1 ----------------------------------4---------------------- */
.Container1VideoDiv4 {
  width: 11.30vw;
  height: 11.30vw;
  border-radius: 1vw;
  transition: all 2s ease;
}

.Container1VideoDiv1Video4 {
  width: 11.30vw;
  height: 11.30vw;
  border-radius: 1vw;
}

@media(max-width: 600px) {
  .Container1VideoDiv1Video4 {
    width: 22vw;
    height: 22vw;
    border-radius: 1vw;
  }

}

/* 5 image Container 1 ----------------------------------5---------------------- */

.Container1VideoDiv5 {
  border-radius: 1vw;
  transition: all 2s ease;
}

.Container1VideoDiv1Video5 {
  width: 20.83vw;
  border-radius: 1vw;
}

@media(max-width: 600px) {
  .Container1VideoDiv1Video5 {
    width: 25vw;
    border-radius: 1vw;
  }

}

/* 6 image Container 1 ----------------------------------6---------------------- */

.Container1VideoDiv6 {
  border-radius: 1vw;
  transition: all 2s ease;
}

.Container1VideoDiv1Video6 {
  width: 28.54vw;
  border-radius: 1vw;
}

@media(max-width: 600px) {

  .Container1VideoDiv1Video6 {
    width: 45vw;
  }

}

/* 7 image Container 1 ----------------------------------7---------------------- */

.Container1VideoDiv7 {
  border-radius: 1vw;
  transition: all 2s ease;
}

.Container1VideoDiv1Video7 {
  width: 11.875vw;
  height: 11.875vw;
  border-radius: 1vw;
}

@media(max-width: 600px) {
  .Container1VideoDiv1Video7 {
    width: 22vw;
    height: 22vw;
    border-radius: 1vw;
  }
}





/* Arrow Bouncy effect ---------- */
.mouseDownScrollIcon {
  animation-duration: 3s;
  animation-name: bounce;
  animation-iteration-count: infinite;
  width: clamp(0.8125rem, 0.675rem + 0.6875vw, 1.5rem);
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }

  25% {
    transform: translateY(-15px);
  }

  50% {
    transform: translateY(15px);
  }

  75% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0px);
  }
}


.mouseDownScrollIcon {
  position: absolute;
  bottom: 0;
}






/* Child Wrapper 2------------------------------------------------------------------------------- */

.serviceTextSection {
  padding-top: clamp(3.75rem, 1.1691rem + 9.1765vw, 8.625rem);
  padding-bottom: clamp(1.25rem, -2.6786rem + 15.7143vw, 11rem);
  color: var(--textColorWhite);
  text-align: center;
  max-width: 900px;
  width: 100%;
  margin: auto;
}

.serviceDescription400Width {
  max-width: 660px;
  width: 100%;
  margin: auto;
}

@media (max-width: 1080px) {
  .serviceTextSection {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0px;
  }
}

@media (max-width: 768px) {
  .serviceTextSection {
    display: grid;
    grid-template-columns: 1fr;
  }
}


.serviceDescription {
  font-family: var(--arial);
  font-size: clamp(1.5625rem, 0.9669rem + 2.1176vw, 2.6875rem);
  padding-bottom: clamp(1.2rem, 0.9007rem + -0.4902vw, 0.3125rem);
  color: var(--textColorWhite);

}


.brandStrategySection {
  padding-bottom: clamp(2.5rem, 1.1071rem + 4.2857vw, 6.25rem);
}


/* FAQ SECTION ------------------------------------------------------------------------------------------------------ */
.tldFaqSection {
  max-width: 1463px;
  width: 100%;
  margin: auto;
  text-align: center;
  border-radius: 4px;
  background-color: #000000;
  color: var(--textColorWhite);
  transition: all .3s ease !important;
}

.tldFaqLabel {
  cursor: pointer;
  height: clamp(5rem, 3.375rem + 5vw, 9.375rem);
  border-top: 1px solid var(--textColorWhite);

  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s ease !important;
}

.brandImplementation {
  border-bottom: 1px solid var(--textColorWhite);

}

.faq-heading {
  font-family: var(--arial);
  font-size: clamp(1.5625rem, 0.8661rem + 2.1429vw, 3.4375rem);
  color: var(--textColorWhite);
  white-space: nowrap;
  transition: all .3s ease !important;
  position: absolute;
  text-align: center;
}

.faq-text {
  font-family: var(--arial);
  color: var(--bgColor);
  width: 100%;
  font-size: clamp(1rem, 0.7911rem + 0.6429vw, 1.5625rem);
  opacity: 0 !important;
  pointer-events: none !important;
  transform: translateY(50px);
}


.tldFaqSection input[type="checkbox"] {
  display: none;
}

.tldFaqLabel:hover .faq-text {
  opacity: 1 !important;
  pointer-events: all !important;
  transition: all .7s ease !important;
  color: var(--textColorWhite);
  transform: translateY(0);
}

.tldFaqLabel:hover .faq-heading {
  opacity: 0 !important;
  pointer-events: none !important;
  transition: all .3s ease !important;
}

/* Image Gallery section -------------------------------- */
.workGallery {
  max-width: 1463px;
  width: 100%;
  margin: auto;
  column-count: 2;
  --webkit-column-count: 2;
  --moz-column-count: 2;
  gap: 1rem;
}

.image img {
  height: auto;
  width: 100%;
}

@media screen and (max-width: 700px) {
  .workGallery {
    column-count: 1;
    --webkit-column-count: 1;
    --moz-column-count: 1;
  }
}

/* Black background Card Section ---------------------------------------- */

.CustomBgBlackContainer {
  background-color: #000;
  max-width: 100%;
  padding-bottom: clamp(1.875rem, -0.2143rem + 6.4286vw, 7.5rem);
}

.sectionBgBlack {
  background-color: #000;
  color: #fff;
}

.serviceHeadingBgBlack {
  color: #ffffff;
  font-family: var(--arial);
  font-size: clamp(1.125rem, 0.8214rem + 1.2143vw, 2.1875rem);
  padding-top: clamp(3rem, 0.2632rem + 3.9474vw, 5rem);
  padding-bottom: clamp(3rem, 0.2632rem + 3.9474vw, 5rem);
  text-transform: uppercase !important;
}

/* Card ---------- */
.CardAnchorWrapper {
  text-decoration: none;
  color: #fff;
}

.cardSvgIcon1 {
  max-width: clamp(9.375rem, 7.375rem + 8vw, 16.875rem);
  width: 100%;
  padding-top: clamp(1.5625rem, 1.3702rem + 0.7692vw, 2.1875rem);
}

.cardSvgIcon {
  max-width: clamp(9.375rem, 8.5417rem + 3.3333vw, 12.5rem);
  width: 100%;
}

.cardSvgIcon3 {
  max-width: clamp(9.375rem, 8.5417rem + 3.3333vw, 11rem);
  width: 100%;
}

.CardContainer {
  max-width: 1460px;
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 40px;
  padding-top: clamp(2.5rem, -1.4706rem + 14.1176vw, 10rem);
  padding-bottom: clamp(2.5rem, -1.4706rem + 14.1176vw, 10rem);
}

@media (max-width: 1540px) {
  .CardContainer {
    display: grid;
    gap: 25px;
  }
}

@media (max-width: 1080px) {
  .CardContainer {
    display: grid;
    gap: 10px;
  }
}

@media (max-width: 900px) {
  .CardContainer {
    display: grid;
    gap: 45px;
    grid-template-columns: 1fr;
  }
}

.card {
  border: 2px solid #fff;
  border-radius: 22px;
  padding: clamp(2.1875rem, 1.5086rem + 2.4138vw, 4.375rem);
  width: 100%;
  font-family: var(--arial);
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 70px;
  transition: all .3s ease !important;
  cursor: pointer;
}

.card:hover {
  background-color: #fff;
  color: #000;
}

.card:hover .cardIcon {
  fill: #000;
  transition: all .4s ease-in-out;
}

.cardIconDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media(max-width: 768px) {
  .card {
    gap: 12px;
  }
}

.cardHeading {
  font-size: clamp(2.2rem, 0.8333rem + 2.1701vw, 3rem);
  white-space: nowrap;
  text-align: center;
  line-height: 1;
}

.cardHeading3 {
  font-size: clamp(2.1875rem, 0.8309rem + 4.8235vw, 4.75rem);
  white-space: nowrap;
  text-align: center;
  line-height: 1;
  padding-top: clamp(0.625rem, 0.4583rem + 0.6667vw, 1.25rem);
}

.cardDescription {
  font-size: clamp(1.25rem, 0.7868rem + 1.6471vw, 2.125rem);
  text-align: center;
}

.cardSmallHeading {
  font-size: clamp(0.625rem, 0.5089rem + 0.3571vw, 0.9375rem);
  /* padding-bottom: clamp(0.625rem, 0.2768rem + 1.0714vw, 1.5625rem); */
}

.cardSmallDescription {
  font-size: clamp(0.8125rem, 0.65rem + 0.5vw, 1.25rem);
  /* padding-bottom: clamp(0.625rem, 0.3493rem + 0.4902vw, 0.9375rem); */
}

.anchorIconDiv {
  background-color: rgb(0, 0, 0);
  color: #ffffff;
  border: 1px solid #fff;
  text-align: center;
  padding: 14px 24px;
  border-radius: 60px;
  font-size: clamp(0.75rem, 0.5855rem + 0.6579vw, 1.375rem);
  max-width: 243px;
  width: 100%;
  margin: auto;
  transition: all .4s ease;
  font-family: var(--arial);
}

.anchorIconDiv:hover {
  background-color: #ffffff;
  color: #000000;
}

.takeActionBtnWrapper {
  text-decoration: none;
}

.takeActionBtnSpace {
  padding-bottom: clamp(1.5625rem, 0.4044rem + 4.1176vw, 3.75rem);
}

.card:hover .anchorIconDiv {
  background-color: #000;
  color: #fff;
}

.cardArrowIcon {
  width: clamp(0.9375rem, 0.5196rem + 1.2857vw, 2.0625rem);
  cursor: pointer;
  transition: all 0.6s ease-in-out;
}

.cardBtnBgWhite {
  background-color: #fff;
  color: #000;
}

/* bookingSectionFooter ------ */
.bookingSectionFooter {
  padding-bottom: clamp(3.75rem, 1.0345rem + 9.6552vw, 12.5rem);
}

.footerBookingCta {
  color: #fff;
  font-family: var(--arial);
  text-align: center;
  font-size: clamp(1.5625rem, 1.0388rem + 1.8621vw, 3.25rem);
  font-weight: 400;
  padding-bottom: clamp(1.5625rem, 0.8836rem + 2.4138vw, 3.75rem);
}

.borderDiv {
  background-color: #fff;
  height: 1px;
}











/* Pop Up Model ________________________________________ */
.popUpInfo {
  text-decoration: none !important;
  backface-visibility: hidden;
  text-transform: uppercase;
  padding: 13px 22px;
  border: 1px solid #000000;
  background-color: #000000;
  color: #ffffff;
  outline: none;
  border-radius: 60px;
  transition: all .3s ease !important;
  cursor: pointer;
}

.popUpInfo:hover {
  border: 1px solid #999;
  background-color: #999;
  color: #fff;
}

.popUpModal {
  border: none;
  max-width: 1920px;
  min-height: 100dvh;
  width: 100%;
  overflow-x: hidden;
  background: #FF1D48;
  padding: clamp(1.25rem, 0.676rem + 2.0408vw, 3.125rem);
}

.popUpHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: clamp(0.9375rem, -0.1148rem + 3.7415vw, 4.375rem);
}

.popUpModalClose {
  font-size: clamp(2.5rem, 1.7347rem + 2.7211vw, 5rem);
  font-weight: 400;
  text-decoration: none;
  color: #333;
}



/* Content --------------- */
.contentInPopUp {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: clamp(0.9375rem, -0.3061rem + 4.4218vw, 5rem);
}

@media(max-width: 1200px) {
  .contentInPopUp {
    grid-template-columns: 1fr;
  }
}

.lifeStoryArticle {
  padding-bottom: clamp(1.25rem, 0.676rem + 2.0408vw, 3.125rem);
  font-size: clamp(1.25rem, 0.9056rem + 1.2245vw, 2.375rem);
  line-height: 1;
}

.lifeStoryArticleSocialCta {
  padding-top: clamp(1.875rem, -0.4209rem + 8.1633vw, 9.375rem);
  line-height: 1;
  font-size: clamp(1.25rem, 0.9056rem + 1.2245vw, 2.375rem);

}

.popUpSocialLink {
  text-decoration: none;
  color: #000;
}

.popUpSocialLink:hover {
  color: #726a6a;
}


.waveLifeStory {
  width: clamp(9.375rem, 2.7742rem + 23.4694vw, 30.9375rem);
  border-radius: clamp(0.9375rem, 0.6696rem + 0.9524vw, 1.8125rem);
}

.popUpPreviousWorkTitle {
  display: inline-block;
  font-size: clamp(0.875rem, 0.7602rem + 0.4082vw, 1.25rem);
  padding-bottom: clamp(0.9375rem, 0.4592rem + 1.7007vw, 2.5rem);
}

.popUpPreviousWork {
  font-size: clamp(1.0625rem, 0.9094rem + 0.5442vw, 1.5625rem);
}

.xpWorkExperience {
  font-size: clamp(1.0625rem, 0.9094rem + 0.5442vw, 1.5625rem);
  margin-top: clamp(0.9375rem, 0.4592rem + 1.7007vw, 2.5rem);
  margin-bottom: clamp(0.9375rem, 0.4592rem + 1.7007vw, 2.5rem);
  padding-top: clamp(0.5rem, 0.3087rem + 0.6803vw, 1.125rem);
  padding-bottom: clamp(0.5rem, 0.3087rem + 0.6803vw, 1.125rem);
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.popUpSmileBlackIcon {
  padding-top: clamp(1.25rem, -0.2806rem + 5.4422vw, 6.25rem);
  width: clamp(6.25rem, 3.5714rem + 9.5238vw, 15rem);
}